<html>
    <head>
        <meta charset = "utf-8">
        <title>MVC_Example</title>
    </head>

    <body>
        <h1>QUAN LY NHAN VIEN PHONG BAN BANG MO HINH MVC</h1>
        <h3>Chức năng: </h3>
        <h3>1. <a href="../Controller/C_Staff.php?mod1='1'">Thêm nhân viên</a></h3>
        <h3>2. <a href="../Controller/C_Staff.php?mod2='1'">Sửa nhân viên</a></h3>
        <h3>3. <a href="../Controller/C_Staff.php?mod3='1'">Xóa nhân viên</a></h3>
        <h3>3. <a href="../Controller/C_Staff.php?mod4='1'">Xem tất cả nhân viên và phòng ban</a></h3>
    </body>
</html>