<html>
<head>
    <meta charset="utf-8">
    <title>Thêm sinh viên</title>
</head>
<body>
    <h2>Thêm sinh viên</h2>
    <form action="../Controller/C_Staff.php" method="post">
        IDNV: <input type="text" name="idnv"><br>
        Họ tên: <input type="text" name="hoten"><br>
        IDPB: <input type="text" name="idpb"><br>
        Địa chỉ: <input type="text" name="diachi"><br>
        <input type="submit" name="insert" value="Thêm">
    </form>

    <?php
    if (isset($resultMessage)) {
        echo "<p>$resultMessage</p>";
    }
    ?>
    
    <br>
    <p><a href="main.html">Home page</a></p>
</body>
</html>
